body,h1 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color:black;
    font-size: 1em;
}

body, html {
    height: 100%
}

.bgimg {
  background-image: url('img/banner.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  filter: blur(.05px);
}

.bolder {
    font-weight: bolder;
}

.icon {
    width:10%;
}

.line-under {
    border-bottom:1px solid black;
    padding:10px
}